<zk xmlns:n = "native">
    <window mode="modal" popup="true" width="420px" height="350px" id="alertWindow" closable="true"  border="normal" maximizable="true" 
        position="center" apply = "cnee.GestionDoc.ctrl.CatobjetoMantCtrl"> 
               <a id="linkSalir" image="/img/exit.png">
                    <label value="Cerrar" style="color: rgb(143,174,231); padding-left: 5px; text-decoration: underline;" />
            </a>
		<borderlayout>
			<center> 
                            <div style = "margin-top: 10px;" >
                            <groupbox id="grxFormaInOut" width = "380px" style = "margin: 0 auto;" >
                                    <caption>
                                            <image src = "/img/registro.png" />
                                            <label value = "Mantenimiento Objetos" style="color: blue;" />
                                    </caption>

                                        <n:table cellspacing="5px" style = "margin: 0 auto;">
                                            <n:tr>
                                            <n:td>

                                                <n:table>
                                                <n:tr>
                                                        <n:td>
                                                                        <label value = "Id" style = "margin: 0px 10px 0px 5px; color: black;" />
                                                        </n:td>
                                                        <n:td>
                                                                        <textbox id = "txtIdobjeto" readonly = "false" focus = "true" />
                                                        </n:td>
                                                </n:tr>
                                                <n:tr>
                                                        <n:td>
                                                                        <label value = "Tipo Objeto" style = "margin: 0px 10px 0px 5px; color: black;" />
                                                        </n:td>
                                                        <n:td>
                                                                        <textbox id = "txtIdtipoobjeto" readonly = "false" focus = "true" visible="false" />
                                                                        <combobox id="cbxTipoObjeto" name="cbxTipoObjeto"  visible="true" readonly = "false"  width="160px" style="margin: 0px 0px 0px 0px;"/>
                                                        </n:td>
                                                </n:tr>
                                                <n:tr>
                                                        <n:td>
                                                                        <label value = "Nombre" style = "margin: 0px 10px 0px 5px; color: black;" />
                                                        </n:td>
                                                        <n:td>
                                                                        <textbox id = "txtNombre" readonly = "false" focus = "true" />
                                                        </n:td>
                                                </n:tr>
                                                <n:tr>
                                                        <n:td>
                                                                        <label value = "Descripcion" style = "margin: 0px 10px 0px 5px; color: black;" />
                                                        </n:td>
                                                        <n:td>
                                                                        <textbox id = "txtDescripcion" readonly = "false" focus = "true" />
                                                        </n:td>
                                                </n:tr>
                                                <n:tr>
                                                        <n:td>
                                                                        <label value = "Activo" style = "margin: 0px 10px 0px 5px; color: black;" />
                                                        </n:td>
                                                        <n:td>
                                                                        <textbox id = "txtActivo" readonly = "false" focus = "true" visible ="false" />
                                                                        <combobox id="cbxActivo" name="cbxActivo"  visible="true" readonly = "false"  width="160px" style="margin: 0px 0px 0px 0px;">
                                                                            <comboitem label = "Inactivo" value = "0" />
                                                                            <comboitem label = "Activo" value = "1" />
                                                                        </combobox>
                                                        </n:td>
                                                </n:tr>
                                                                                              <n:tr>
                                                        <n:td>
                                                                        <label value = "Idpadre" style = "margin: 0px 10px 0px 5px; color: black;" />
                                                        </n:td>
                                                        <n:td>
                                                                        <textbox id = "txtIdpadre" readonly = "false" focus = "true" />
                                                        </n:td>
                                                </n:tr>
                                                <n:tr>
                                                        <n:td>
                                                                        <label value = "Url" style = "margin: 0px 10px 0px 5px; color: black;" />
                                                        </n:td>
                                                        <n:td>
                                                                        <textbox id = "txtUrl" readonly = "false" focus = "true" />
                                                        </n:td>
                                                </n:tr>
                                        </n:table>
                                        </n:td>
                                        </n:tr>
                                                <n:tr>
                                                    <n:td colspan = "3" style = "text-align: right;">
                                                    <button id = "btnGuardar" image = "/img/save.png" label = "Grabar" style = "margin-left: 5px;" />
                                                    <button id = "btnEliminar" image = "/img/delete.png" label = "Eliminar" style = "margin-left: 5px;" />
                                                    <button id = "btnLimpiar" image = "/img/index.png" label = "Limpiar" style = "margin-left: 5px;" />
                                                    </n:td>
                                                </n:tr>
                                </n:table>
                            </groupbox>
                    </div>
			</center>
		</borderlayout>
                	<iframe id="iframeReport" hflex="true" vflex="true" />
	</window>
</zk>
