<?page title="GestionDoc :: Plantilla Catdependencia" contentType="text/html;charset=UTF-8"?>
<?link href="../css/fuentes.css" rel="stylesheet" type="text/css"?>
<zk xmlns:n = "native">
	<window id = "Plantilla_Catdependencia" border = "none"
		style = "background: transparent;" vflex = "true" hflex = "true"
		apply = "cnee.GestionDoc.ctrl.CattipoObjetoCtrl">
		<borderlayout>
			<center border = "none" hflex = "true">
					<div style = "margin-top: 50px;" hflex = "true">

						<groupbox id="grxFormaInOut" width = "800px" style = "margin: 0 auto;"
							 visible = "true" closable = "false">
									<caption>
											<image src = "/img/registro.png" />
											<label value = "Catalogo Tipo Objeto" style="color: blue;" />
									</caption>
                                                                           
											<n:table cellspacing="5px" style="margin: 0 auto;">
											<n:tr>
											<n:td>
											<groupbox>
											<listbox id="lbxCatalogo" vflex="true" width="750px" mold="paging" pageSize="6" emptyMessage="0 Registros" style="margin: 0 auto; min-height: 300px;">
											<auxhead>
                                                                                                <auxheader colspan="7">
                                                                                                <label value="Datos" style=" color: blue;"/>
                                                                                                </auxheader>
                                                                                                </auxhead>
                                                                                                <listhead>
                                                                                                    <listheader label="Idtipoobjeto" width="120px"/>
                                                                                                    <listheader label="Nombre" width="320px"/>
                                                                                                    <listheader label="Descripcion" width="310px"/>
                                                                                                    <listheader label="Activo" width="120px" visible="false"/>
                                                                                                    <listheader label="Fechaingreso" width="120px" visible="false"/>
                                                                                                    <listheader label="Usuarioingreso" width="120px" visible="false"/>
                                                                                                    <listheader label="Fechamodificacion" width="120px" visible="false"/>
                                                                                                    <listheader label="Usuariomodificacion" width="120px" visible="false"/>
                                                                                                </listhead>
                                                                                                </listbox>
											</groupbox>
                                                                                         <a id="linkNew" image="/img/nuevo.png">
                                                                                            <label value="Nuevo" style="color: rgb(143,174,231); padding-left: 5px; text-decoration: underline;" />
                                                                                         </a>
                                                                                          <a id="linkActualizar" image="/img/reload.png">
                                                                                            <label value="Actualizar" style="color: rgb(143,174,231); padding-left: 5px; text-decoration: underline;" />
                                                                                         </a>
									</n:td>
									</n:tr>
							</n:table>
							
						</groupbox>
					</div>
			</center>
		</borderlayout>
	</window>
</zk>
