@font-face {
	font-family: 'MavenPro';
	src: url('MavenPro-Bold.eot');
	src: url('MavenPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('MavenPro-Bold.woff') format('woff'), url('MavenPro-Bold.ttf')
		format('truetype');
	font-weight: normal;
	font-style: normal;
}