<zk xmlns:n = "native">
    <window mode="modal" popup="true" width="480px" height="400px" id="alertWindow" closable="true"  border="normal" maximizable="true" 
        position="center" apply = "cnee.GestionDoc.ctrl.DocpredocumentoMantCtrl"> 
               <a id="linkSalir" image="/img/exit.png">
                    <label value="Cerrar" style="color: rgb(143,174,231); padding-left: 5px; text-decoration: underline;" />
            </a>
		<borderlayout>
			<center> 
                            <div style = "margin-top: 10px;" >
                            <groupbox id="grxFormaInOut" width = "380px" style = "margin: 0 auto;" >
                                    <caption>
                                            <image src = "/img/registro.png" />
                                            <label value = "Mantenimiento Objetos" style="color: blue;" />
                                    </caption>

                                        <n:table cellspacing="5px" style = "margin: 0 auto;">
                                            <n:tr>
                                            <n:td>

                                               <n:table>
                                                <n:tr>
                                                        <n:td>
                                                                        <label value = "Correlativo" style = "margin: 0px 10px 0px 5px; color: black;" />
                                                        </n:td>
                                                        <n:td>
                                                                        <textbox id = "txtCodigo" readonly = "false" focus = "true" />
                                                        </n:td>
                                                </n:tr>
                                                <n:tr>
                                                        <n:td>
                                                                        <label value = "Empresa Origen" style = "margin: 0px 10px 0px 5px; color: black;" />
                                                        </n:td>
                                                        <n:td>
                                                                        <textbox id = "txtEmpresaorigen" readonly = "false" focus = "true" visible="false" />
                                                                         <combobox id="cbxEmpOrigen" name="cbxEmpOrigen"  visible="true" readonly = "false"  width="160px" style="margin: 0px 0px 0px 0px;"/>
                                                        </n:td>
                                                </n:tr>
                                                <n:tr>
                                                        <n:td>
                                                                        <label value = "Dependencia " style = "margin: 0px 10px 0px 5px; color: black;" />
                                                                                            
                                                        </n:td>
                                                        <n:td>
                                                                        <textbox id = "txtCodigoorigen" readonly = "false" focus = "true" visible="false" />
                                                                        <combobox id="cbxDependenciaOrigen" name="cbxDependenciaOrigen"  visible="true" readonly = "false"  width="160px" style="margin: 0px 0px 0px 0px;"/>
                                       
                                                        </n:td>
                                                </n:tr>
                                                
                                                <n:tr>
                                                        <n:td>
                                                                        <label value = "Personaorigen" style = "margin: 0px 10px 0px 5px; color: black;" />
                                                        </n:td>
                                                        <n:td>
                                                                        <textbox id = "txtPersonaorigen" readonly = "false" focus = "true" visible="false" />
                                                                        <combobox id="cbxPersonaOrigen" name="cbxPersonaOrigen"  visible="true" readonly = "false"  width="160px" style="margin: 0px 0px 0px 0px;"/>
                                                        </n:td>
                                                </n:tr>
                                                <n:tr>
                                                        <n:td>
                                                                        <label value = "Destino" style = "margin: 0px 10px 0px 5px; color: black;" />
                                                        </n:td>
                                                        <n:td>
                                                                        <textbox id = "txtDestino" readonly = "false" focus = "true" visible="false"  />
                                                                        <combobox id="cbxDestino" name="cbxPersonaOrigen"  visible="true" readonly = "false"  width="160px" style="margin: 0px 0px 0px 0px;"/>
                                                        </n:td>
                                                </n:tr>
                                                <n:tr>
                                                        <n:td>
                                                                        <label value = "Temas" style = "margin: 0px 10px 0px 5px; color: black;"  />
                                                        </n:td>
                                                        <n:td>
                                                                        <textbox id = "txtTemas" width="200px" height="50px" readonly = "false" focus = "true"  />
                                                        </n:td>
                                                </n:tr>
                                                <n:tr>
                                                        <n:td>
                                                                        <label value = "Fechaingreso" style = "margin: 0px 10px 0px 5px; color: black;" />
                                                        </n:td>
                                                        <n:td>
                                                                        <textbox id = "txtFechaingreso" readonly = "false" focus = "true" />
                                                        </n:td>
                                                </n:tr>
                                                <n:tr>
                                                        <n:td>
                                                                        <label value = "Horaingreso" style = "margin: 0px 10px 0px 5px; color: black;" />
                                                        </n:td>
                                                        <n:td>
                                                                        <textbox id = "txtHoraingreso" readonly = "false" focus = "true" />
                                                        </n:td>
                                                </n:tr>
                                                
                                        </n:table>
                                        </n:td>
                                        </n:tr>
                                                <n:tr>
                                                    <n:td colspan = "3" style = "text-align: right;">
                                                    <button id = "btnGuardar" image = "/img/save.png" label = "Grabar" style = "margin-left: 5px;" />
                                                    <button id = "btnEliminar" image = "/img/delete.png" label = "Eliminar" style = "margin-left: 5px;" />
                                                    <button id = "btnLimpiar" image = "/img/index.png" label = "Limpiar" style = "margin-left: 5px;" />
                                                    </n:td>
                                                </n:tr>
                                </n:table>
                            </groupbox>
                    </div>
			</center>
		</borderlayout>
                	<iframe id="iframeReport" hflex="true" vflex="true" />
	</window>
</zk>
