<zk xmlns:n = "native">
    <window mode="modal" popup="true" width="680px" height="300px" id="alertWindow2" closable="true"  border="normal" maximizable="true" 
        position="center" apply = "cnee.GestionDoc.ctrl.DocfuenteMantCtrl"> 
               <a id="linkSalir" image="/img/exit.png">
                    <label value="Cerrar" style="color: rgb(143,174,231); padding-left: 5px; text-decoration: underline;" />
            </a>
		<borderlayout>
			<center> 
                            <div style = "margin-top: 10px;" >
                            <groupbox id="grxFormaInOut" width = "580px" style = "margin: 0 auto;" >
                                    <caption>
                                            <image src = "/img/registro.png" />
                                            <label value = "Documento Fuente " style="color: blue;" />
                                    </caption>

                                        <n:table cellspacing="5px" style = "margin: 0 auto;">
                                            <n:tr>
                                            <n:td>

                                              <n:table>
                                          
                                            <n:tr>
                                                    <n:td>
                                                                    <label value = "Fecha Creado" style = "margin: 0px 10px 0px 5px; color: black;" />
                                                    </n:td>
                                                    <n:td>
                                                                    <textbox id = "txtFechacreado" readonly = "false" focus = "true" />
                                                    </n:td>
                                                     <n:tr>
                                                    <n:td>
                                                                    <label value = "Hora Creado" style = "margin: 0px 10px 0px 5px; color: black;" />
                                                    </n:td>
                                                    <n:td>
                                                                    <textbox id = "txtHoracreado" readonly = "false" focus = "true" />
                                                    </n:td>
                                                    <n:td>
                                                                    <label value = "Formato" style = "margin: 0px 10px 0px 5px; color: black;" />
                                                    </n:td>
                                                    <n:td>
                                                                    <textbox id = "txtFormato" readonly = "false" focus = "true" />
                                                    </n:td>
                                            </n:tr>
                                            </n:tr>
                                                
                                            <n:tr>
                                                    <n:td>
                                                                    <label value = "Observaciones" style = "margin: 0px 10px 0px 5px; color: black;" />
                                                    </n:td>
                                                    <n:td colspan = "3">
                                                                    <textbox id = "txtObservaciones" multiline="true" readonly = "false" focus = "true" />
                                                    </n:td>
                                            </n:tr>
                                            <n:tr>
                                                
                                                <button label="Cargar Archivo" upload="true,maxsize=300">
                                                <attribute name="onUpload"><![CDATA[
                                                    org.zkoss.util.media.Media media = event.getMedia();
                                                    if (media instanceof org.zkoss.image.Image) {
                                                        org.zkoss.zul.Image image = new org.zkoss.zul.Image();
                                                        image.setContent(media);
                                                        image.setParent(pics);
                                                    } else {
                                                        Messagebox.show("Not an image: "+media, "Error", Messagebox.OK, Messagebox.ERROR);
                                                        break;
                                                    }
                                                ]]></attribute>
                                            </button>
                                           
                                            </n:tr>
                                           
                                            
                                    </n:table>
                                        </n:td>
                                        </n:tr>
                                                <n:tr>
                                                    <n:td colspan = "3" style = "text-align: right;">
                                                    <button id = "btnGuardar" image = "/img/save.png" label = "Grabar" style = "margin-left: 5px;" />
                                                    <button id = "btnEliminar" image = "/img/delete.png" label = "Eliminar" style = "margin-left: 5px;" />
                                                    <button id = "btnLimpiar" image = "/img/index.png" label = "Limpiar" style = "margin-left: 5px;" />
                                                    </n:td>
                                                </n:tr>
                                </n:table>
                            </groupbox>
                    </div>
			</center>
		</borderlayout>
                	<iframe id="iframeReport" hflex="true" vflex="true" />
	</window>
</zk>
