<zk xmlns:n = "native">
    <window mode="modal" popup="true" width="420px" height="250px" id="alertWindow" closable="true"  border="normal" maximizable="true" 
        position="center" apply = "cnee.GestionDoc.ctrl.CatPersonaMantCtrl"> 
               <a id="linkSalir" image="/img/exit.png">
                    <label value="Cerrar" style="color: rgb(143,174,231); padding-left: 5px; text-decoration: underline;" />
            </a>
		<borderlayout>
			<center>
                            <div style = "margin-top: 10px;" >
                            <groupbox id="grxFormaInOut" width = "380px" style = "margin: 0 auto;" >
                                    <caption>
                                            <image src = "/img/registro.png" />
                                            <label value = "Dependencias" style="color: blue;" />
                                    </caption>

                                    <n:table cellspacing="5px" style = "margin: 0 auto;">
                                        <n:tr>
                                        <n:td>

                                      <n:table>
										<n:tr>
											<n:td>
													<label value = "Id" style = "margin: 0px 10px 0px 5px; color: black;" />
											</n:td>
											<n:td>
													<textbox id = "txtId" readonly = "false" focus = "true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
													<label value = "Codigo" style = "margin: 0px 10px 0px 5px; color: black;" />
											</n:td>
											<n:td>
													<textbox id = "txtCodigo" readonly = "false" focus = "true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
													<label value = "Codempresa" style = "margin: 0px 10px 0px 5px; color: black;" />
											</n:td>
											<n:td>
													<textbox id = "txtCodempresa" readonly = "false" focus = "true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
													<label value = "Nombres" style = "margin: 0px 10px 0px 5px; color: black;" />
											</n:td>
											<n:td>
													<textbox id = "txtNombres" readonly = "false" focus = "true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
													<label value = "Apellidos" style = "margin: 0px 10px 0px 5px; color: black;" />
											</n:td>
											<n:td>
													<textbox id = "txtApellidos" readonly = "false" focus = "true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
													<label value = "Sexo" style = "margin: 0px 10px 0px 5px; color: black;" />
											</n:td>
											<n:td>
													<textbox id = "txtSexo" readonly = "false" focus = "true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
													<label value = "Titulo" style = "margin: 0px 10px 0px 5px; color: black;" />
											</n:td>
											<n:td>
													<textbox id = "txtTitulo" readonly = "false" focus = "true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
													<label value = "Puesto" style = "margin: 0px 10px 0px 5px; color: black;" />
											</n:td>
											<n:td>
													<textbox id = "txtPuesto" readonly = "false" focus = "true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
													<label value = "Direccion" style = "margin: 0px 10px 0px 5px; color: black;" />
											</n:td>
											<n:td>
													<textbox id = "txtDireccion" readonly = "false" focus = "true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
													<label value = "Email" style = "margin: 0px 10px 0px 5px; color: black;" />
											</n:td>
											<n:td>
													<textbox id = "txtEmail" readonly = "false" focus = "true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
													<label value = "Areageografica" style = "margin: 0px 10px 0px 5px; color: black;" />
											</n:td>
											<n:td>
													<textbox id = "txtAreageografica" readonly = "false" focus = "true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
													<label value = "Telefono" style = "margin: 0px 10px 0px 5px; color: black;" />
											</n:td>
											<n:td>
													<textbox id = "txtTelefono" readonly = "false" focus = "true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
													<label value = "Telefonomovil" style = "margin: 0px 10px 0px 5px; color: black;" />
											</n:td>
											<n:td>
													<textbox id = "txtTelefonomovil" readonly = "false" focus = "true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
													<label value = "Emercontacto" style = "margin: 0px 10px 0px 5px; color: black;" />
											</n:td>
											<n:td>
													<textbox id = "txtEmercontacto" readonly = "false" focus = "true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
													<label value = "Emercontactotel" style = "margin: 0px 10px 0px 5px; color: black;" />
											</n:td>
											<n:td>
													<textbox id = "txtEmercontactotel" readonly = "false" focus = "true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
													<label value = "Fechaingreso" style = "margin: 0px 10px 0px 5px; color: black;" />
											</n:td>
											<n:td>
													<textbox id = "txtFechaingreso" readonly = "false" focus = "true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
													<label value = "Usuarioingreso" style = "margin: 0px 10px 0px 5px; color: black;" />
											</n:td>
											<n:td>
													<textbox id = "txtUsuarioingreso" readonly = "false" focus = "true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
													<label value = "Fechamodificacion" style = "margin: 0px 10px 0px 5px; color: black;" />
											</n:td>
											<n:td>
													<textbox id = "txtFechamodificacion" readonly = "false" focus = "true" />
											</n:td>
										</n:tr>
										<n:tr>
											<n:td>
													<label value = "Usuariomodificacion" style = "margin: 0px 10px 0px 5px; color: black;" />
											</n:td>
											<n:td>
													<textbox id = "txtUsuariomodificacion" readonly = "false" focus = "true" />
											</n:td>
										</n:tr>
									</n:table>
                                        </n:td>
                                        </n:tr>
                                                <n:tr>
                                                    <n:td colspan = "3" style = "text-align: right;">
                                                    <button id = "btnGuardar" image = "/img/save.png" label = "Grabar" style = "margin-left: 5px;" />
                                                    <button id = "btnEliminar" image = "/img/delete.png" label = "Eliminar" style = "margin-left: 5px;" />
                                                    <button id = "btnLimpiar" image = "/img/index.png" label = "Limpiar" style = "margin-left: 5px;" />
                                                    </n:td>
                                                </n:tr>
                                </n:table>
                            </groupbox>
                    </div>
			</center>
		</borderlayout>
                	<iframe id="iframeReport" hflex="true" vflex="true" />
	</window>
</zk>
