<?page title="Inicio" contentType="text/html;charset=UTF-8"?>
<?link href="css/fuentes.css" rel="stylesheet" type="text/css"?>
<zk xmlns:n="native">
	<style>
		body { padding: 0 0; } .z-label { font-family: MavenPro; color:
		#373e48; } .z-button { font-family: MavenPro; } .dvbanner {
		background: url("img/fondo.png") repeat !important; }
	</style>
	<window title="" border="none" style="background: transparent; "
		hflex="true" vflex="true" apply="cnee.GestionDoc.environment.login">

		<borderlayout style="padding: 0 0;">
			<north border="none" zclass="dvbanner">
				<hlayout>
					<image src="/img/epq.png" width="90px" height="70px" style="margin-top: 10px; margin-left: 10px;" />
					<vlayout style="margin: 20px 0px 10px 5px;">
						<label value="Comisión Nacional de Energía Eléctrica" style="font-weight: bold; font-size: 18px; color: white; " />
						<label value="Sistema de Gestión Documental "  style="font-weight: bold; color: silver; font-size: 17px; font-style: italic;" />
                                                <label value="Versión 1.0" style="font-weight: bold; font-size: 14px; color: white;"/>
					</vlayout>
				</hlayout>
			</north>
			<center border="none">
				<div style="margin-top: 100px;">
					<groupbox
						style="margin: 0 auto; border-radius: 5px; box-shadow: 1px 1px 1px"
						closable="false" width="300px;" mold="3d">
						<caption>
							<image src="/img/login.png" />
							<label value="Inicio de sesión" style="font-size: 15px;" />
						</caption>
						<vlayout style="margin: 10px;">
							<label value="Usuario" />
							<textbox id="txtUser" maxlength="30" width="250px" constraint="no empty: Debe ingresar su usuario" focus="true" />
							<label value="Clave" />
							<textbox id="txtPass" type="password" maxlength="30" width="250px" constraint="no empty: Debe ingresar su clave" />
							<button id="btnLogin" label="Inicio" image="/img/user.png" />
						</vlayout>
					</groupbox>
				</div>
			</center>
		</borderlayout>
	</window>
</zk>